<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <style>
         th, td {
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style>
</head>
<body>
<!-- Include _menu.html -->
<!--<th:block th:include="/_menu"></th:block>-->

<h2>Register</h2>

<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<form th:action="@{/login/}" th:object="${LoginForm}" method="post">
    <table>
        <tr>

            <td>User Name</td>
            <td><input type="text" th:field="*{name}"  id="username" /></td>
            <td>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
            </td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
            </td>
        </tr>
        <!--        <tr>-->
        <!--            <td>Confirm</td>-->
        <!--            <td><input type="password" th:field="*{confirmPassword}" /> </td>-->
        <!--            <td>-->
        <!--                <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">..</span>-->
        <!--            </td>-->
        <!--        </tr>-->
        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="submit">Submit</button>
                <a th:href="@{/}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>
<script th:inline="javascript"src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>

    $("#username").change(function(){
        var uname = $(this).val();
        $.ajax({
            type: "POST",
            url: "/exist/"+uname,
            data: {"uname": uname},
            success: function(msg){
                  if(msg==0)
                  {
        alert("User doesn't exists !... try another");

                  }

            },
            error:function(){
                alert("ajax failed" +uname);
            }
        });

    });

</script>
</body>
</html>